<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:fragment="copy">
	<title>OrderShop</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h1>
		<strong>OrderShop</strong>
	</h1>
	<div class="container my-2" align="center">
		<h2>Orders Records</h2>
		<div align="left">
			<a th:href="@{/showNewOrderForm}"
				class="btn btn-primary btn-sm mb-3"> <span
				class="glyphicon glyphicon-order"></span>&nbsp;New Order
			</a>
		</div>


		<table border="1" style="align-items: center; text-align: center;"
			class="table table-striped table-responsive-md">

			<thead class="top">
				<tr class="table-info">
					<td><b> Order ID</b></td>
					<td><b>user ID</b></td>
					<td><b>Order Status</b></td>
					<td><b>Created On</b></td>
					<td><b>completed On</b></td>
					<td><b>Item ID</b></td>
					<td><b>Order Detail</b></td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="orders: ${viewOrders}">
					<td width="20px" th:text="${orders.orderId}"></td>
					<td th:text="${orders.userId}"></td>
					<td th:text="${orders.orderStatus}"></td>
					<td th:text="${orders.createdOn}"></td>
					<td th:text="${orders.modifiedOn}"></td>
					<td th:text="${orders.itemId}"></td>
					<td th:text="${orders.orderDetail}"></td>

				</tr>
			</tbody>
		</table>

	</div>
	<div align="center"><h2>Users Records</h2>
		<table border="1" style="align-items: center; text-align: center;"
			class="table table-striped table-responsive-md">

			<thead class="top">
				<tr class="table-info">

					<td><b>Name</b></td>
					<td><b>Phone</b></td>
					<td><b>Email</b></td>
					<td><b>Description</b></td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="users: ${viewUsers}">

					<td th:text="${users.userName}"></td>
					<td th:text="${users.userPhone}"></td>
					<td th:text="${users.userEmail}"></td>
					<td th:text="${users.userOtherDetails}"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div align="center"><h2>Item List</h2>
		<table border="1" style="align-items: center; text-align: center;"
			   class="table table-striped table-responsive-md">

			<thead class="top">
			<tr class="table-info">

				<td><b>Name</b></td>
				<td><b>Detail</b></td>
				<td><b>Price</b></td>

			</tr>
			</thead>
			<tbody>
			<tr th:each="item: ${viewItems}">
				<td th:text="${item.itemName}"></td>
				<td th:text="${item.itemDetail}"></td>
				<td th:text="${item.itemPrice}"></td>
			</tr>
			</tbody>
		</table>

	</div>

</body>
</html>